*,
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*custom variables*/
:root{
    /*color*/
    --clr-body:#090B1A;
    --clr-dark:#1B1938;
    --clr-light:#AA5CDB;
    --clr-heading:#FFFFFF;
    --clr-p:rgba(100%, 100%, 100%,.75);
    --clr-statsHeading:rgba(100%, 100%, 100%,0.6);

    /*font-size*/
    --fs-body:15px;
    /*font family*/
    font-family: 'Inter', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    /*font weight*/
    --fw-reg:400;
    --fw-bold:700;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: var(--clr-body);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: var(--clr-dark);
    width: 23.438rem;
    height: 80%;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.hero{
    height: 25rem;
    width: 100%;
    border-radius:15px;
    position: relative;
    top: 0;
    background-image: linear-gradient(rgba(147, 31, 219, 0.442), rgba(147, 31, 219, 0.442)), url("../images/image-header-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.heading, h2{
    color:var(--clr-heading);
    margin: 1rem;
    padding: .5rem;
}
.insights{
    color: var(--clr-light);
}
p{
    color: var(--clr-p);
}
h3{
    color: var(--clr-statsHeading);
    display: inline-block;
}
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pitch{
    margin: 2rem;
}
@media(min-width: 900px){
    .card{
        width: 90vw;
        height: 25rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    }
    .hero{
        width: 50%;
        height: 100%;
        padding: 0 1rem;
    }
    .content{
        width: 50%;
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .heading{
        width: 25rem;

    }
    .stats{
        display: flex;
        justify-content: center;
    }
    #companies{
        padding: 0 1rem;
    }
    #templates{
        padding: 0 1rem;
    }
    #queries{
        padding: 0 1rem;
    }
}